<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.ctoddcook.fuelLog"
          android:installLocation="auto">

  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>

  <application
      android:allowBackup="true"
      android:backupAgent="com.ctoddcook.fuelLog.FuelLogBackupAgent"
      android:icon="@mipmap/ic_launcher"
      android:label="@string/app_name"
      android:supportsRtl="true"
      android:theme="@style/AppTheme">
    <meta-data
        android:name="com.google.android.backup.api_key"
        android:value="AEdPqrEAAAAIb-BiRXByuUb68aLEWFtVk8-Zp3xpG_enh2P3KQ"/>

    <activity
        android:name="com.ctoddcook.fuelLog.Activity_Main"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.NoActionBar">
      <intent-filter>
        <action android:name="android.intent.action.MAIN"/>

        <category android:name="android.intent.category.LAUNCHER"/>
      </intent-filter>
    </activity>
    <activity
        android:name="com.ctoddcook.fuelLog.Activity_AddEditFueling"
        android:label="@string/title_activity_enter_fueling_data"
        android:parentActivityName="com.ctoddcook.fuelLog.Activity_Main"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.ctoddcook.fuelLog.Activity_Main"/>
    </activity>
    <activity
        android:name="com.ctoddcook.fuelLog.Activity_AddEditVehicle"
        android:label="@string/title_activity_add_vehicle"
        android:parentActivityName="com.ctoddcook.fuelLog.Activity_Main"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.ctoddcook.fuelLog.Activity_Main"/>
    </activity>
    <activity
        android:name=".Activity_VehicleList"
        android:label="View Vehicle List"
        android:parentActivityName="com.ctoddcook.fuelLog.Activity_Main"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.ctoddcook.fuelLog.Activity_Main"/>
    </activity>
    <activity
        android:name="com.ctoddcook.fuelLog.Activity_Settings"
        android:label="Edit Settings"
        android:parentActivityName="com.ctoddcook.fuelLog.Activity_Main"
        android:theme="@style/AppTheme.NoActionBar">
      <meta-data
          android:name="android.support.PARENT_ACTIVITY"
          android:value="com.ctoddcook.fuelLog.Activity_Main"/>
    </activity>
    <activity
        android:name=".Activity_DetailFrame"
        android:label="View Details"
        android:theme="@style/AppTheme.NoActionBar">
    </activity>
  </application>

</manifest>